* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.body {
  font-size: 14px;
  line-height: 21px;
  color: rgb(51, 51, 51);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 12px 0 hsla(from hsl(210,7%,11%) h s l/.1);
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list__link {
  color: rgb(59, 130, 246);
}

.main {
  padding: 60px 20px;
}

.section {
  margin-bottom: 30px;
}

.title {
  line-height: 27px;
  color: rgb(47, 47, 47);
  margin-bottom: 20px;
}

.photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 15%;
  margin-bottom: 20px;
}

.full-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-name__name {
  line-height: 30px;
}

.full-name__position {
  font-size: 20px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.contact-list__item_italic {
  font-style: italic;
}

.contact-list__link {
  color: rgb(59, 130, 246);
}

.self-introduction-list {
  margin-bottom: 10px;
}

.self-introduction-list__item::before {
  content: "✅";
}

.self-introduction-paragraph {
  margin-bottom: 10px;
}
